/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
	--header-height: 3rem;
	
	/*========== Colors ==========*/
	--title-color: #0B0A0A;
	--text-color: #403A3A;
	--text-color-light: #707070;
	--container-color: #FAFAFA;
	--container-color-alt: #F0EFEF;
	--body-color: #FCFCFC;

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: .938rem;
	--small-font-size: .875rem;
	--smaller-font-size: .813rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== Margenes ==========*/
	--mb-1: .5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
}

/* ===== SCROLL BAR ===== */
::-webkit-scrollbar{
	width: .6rem;
	background: hsl(0, 0%, 74%);
}
::-webkit-scrollbar-thumb{
	background: hsl(0, 0%, 17%);
}
/* ===== end scroll bar ===== */

/*========== BASE ==========*/
*,:before,:after{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
	--title-color: #F2F2F2;
	--text-color: #BFBFBF;
	--container-color: #212121;
	--container-color-alt: #181616;
	--body-color: #2B2B2B;
}
.dark-theme .home__img{
	background-color: #F9F9F9;
}

/*========== Button Dark/Light ==========*/
.change-theme{
	position: absolute;
	right: 0;
	top: 2.2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: var(--text-color);
	font-size: 1.2rem;
	cursor: pointer;
}

.change-theme:hover{
	color: var(--title-color);
}

/*========== Font size variables to scale cv ==========*/
body.scale-cv{
	--h1-font-size: .938rem;
	--h2-font-size: .938rem;
	--h3-font-size: .875rem;
	--normal-font-size: .813rem;
	--small-font-size: .75rem;
	--smaller-font-size: .688rem;
}

/*========== Generate PDF button ==========*/
.generate-pdf{
	display: none;
	position: absolute;
	top: 2.2rem;
	left: 0;
	font-size: 1.2rem;
	color: var(--text-color);
	cursor: pointer;
}

.generate-pdf:hover{
	color: var(--title-color);
}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
.scale-cv .change-theme,
.scale-cv .generate-pdf{
	display: none;
}

.scale-cv .container{
	max-width: 595px;
}

.scale-cv .section{
	padding: 1.5rem 0 .80rem;
}

.scale-cv .section__title{
	margin-bottom: .75rem;
}

.scale-cv .resume__left,
.scale-cv .resume__right{
	padding: 0 1rem;
}

.scale-cv .home__img{
	width: 90px;
	height: 90px;
}

.scale-cv .home__container{
	gap: 1.5rem;
}

.scale-cv .home__data{
	gap: .25rem;
}

.scale-cv .home__address{
	gap: .75rem;
}

.scale-cv .home__icon{
	font-size: 1rem;
}

.scale-cv .education__container,
.scale-cv .experience__container,
.scale-cv .organization__container{
	gap: 1rem;
}

.scale-cv .education__time,
.scale-cv .experience__time{
	padding-right: .5rem;
}

.scale-cv .education__rounder,
.scale-cv .experience__rounder{
	width: 11px;
	height: 11px;
	margin-top: .22rem;
}

.scale-cv .education__line,
.scale-cv .experience__line{
	width: 1px;
	height: 110%;
	-webkit-transform: translate(5px, 0);
	        transform: translate(5px, 0);
}

.scale-cv .education__data,
.scale-cv .experience__data{
	gap: .25rem;
}

body{
	margin: 0 0 var(--header-height) 0;
	padding: 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1,h2,h3,ul,p{
	margin: 0;
}

h1,h2,h3{
	color: var(--title-color);
	font-weight: var(--font-medium);
}

ul{
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

/*========== CLASS CSS ==========*/
.section{
	padding: 1.5rem 0;
}

.section__title{
	font-size: var(--h2-font-size);
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
	text-transform: uppercase;
	letter-spacing: .35rem;
	text-align: center;
	margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.container{
	max-width: 968px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-3);
	margin-right: var(--mb-3);
}

.grid{
	display: -ms-grid;
	display: grid;
	grid-gap: 1.5rem;
}

/* ===== HEADER ===== */
.header{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
	box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
	-webkit-transition: .3s;
	transition: .3s;
}
/* ===== end header ===== */

/*========== NAV ==========*/
.nav{
	height: var(--header-height);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

@media screen and (max-width: 968px){
	.nav__menu{
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		padding: 2rem 1.5rem;
		background-color: var(--body-color);
		box-shadow: 0 1px 4px rgba(0,0,0,.1);
		border-radius: 1rem 1rem 0 0;
		z-index: var(--z-fixed);
		-webkit-transition: .3s;
		transition: .3s;
	}
}

.nav__logo,
.nav__toggle{
	color: var(--title-color);
	font-weight: var(--font-medium);
}

.nav__toggle{
	font-size: 1.2rem;
	cursor: pointer;
}

.nav__item{
	text-align: center;
}

.nav__list{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[3];
	    grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.nav__link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: var(--smaller-font-size);
	color: var(--text-color-light);
	font-weight: var(--font-medium);
}

.nav__link:hover{
	color: var(--title-color);
}

.nav__icon{
	font-size: 1.2rem;
	margin-bottom: var(--mb-1);
}

/* Show menu */
.show-menu{
	bottom: var(--header-height);
}

/* Active menu link */
.active-link{
	color: var(--title-color);
}

/*========== HOME ==========*/
.home{
	position: relative;
}

.home__container{
	gap: 3rem;
}

.home__data{
	gap: .5rem;
	text-align: center;
}

.home__img{
	width: 120px;
	height: 120px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: top;
	   object-position: top;
	border-radius: 50%;
	justify-self: center;
	margin-bottom: .5rem;
}

.home__title{
	font-size: var(--h1-font-size);
	margin-bottom: .5rem;
}


.home__address{
	gap: 1rem;
}

.home__information{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: var(--small-font-size);
}

.home__icon{
	font-size: 1.2rem;
	margin-right: .25rem;
}

.home__button-movil{
	display: inline-block;
	border: 2px solid var(--text-color);
	color: var(--title-color);
	padding: 1rem 2rem;
	border-radius: .25rem;
	-webkit-transition: .3s;
	transition: .3s;
	font-weight: var(--font-medium);
	margin-top: var(--mb-3);
}

.home__button-movil:hover{
	background-color: var(--text-color);
	color: var(--container-color);
}

/*========== PROFILE ==========*/
.profile__description{
	text-align: center;
}

/* ===== EDUCATION + EXPERIENCE + ORGANIZATION ===== */
.education__content,
.experience__content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.education__time,
.experience__time{
	padding-right: 1rem;
}
.education__rounder,
.experience__rounder{
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	background-color: var(--text-color-light);
	border-radius: 50%;
	margin-top: .25rem;
}
.education__line,
.experience__line{
	display: block;
	width: 2px;
	height: 110%;
	background-color: var(--text-color-light);
	-webkit-transform: translate(7px, 0);
	        transform: translate(7px, 0);
}
.experience__list,
.organization__list{
	display: -ms-grid;
	display: grid;
	grid-row-gap: .25rem;
}
.experience__item,
.organization__item,
.course__item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
}
.experience__item i,
.organization__item i{
	font-size: .5rem;
	position: absolute;
	top: .5rem;
	left: 0;
}
.course__item i{
	position: absolute;
	top: 0.25rem;
	left: 0;
	font-size: 1rem;
}
.experience__item span,
.organization__item span{
	margin-left: 1rem;
}
.course__item .course__description{
	margin-left: 1.75rem;
}
.course__italic{
	font-style: italic;
}
.education__data,
.experience__data{
	grid-gap: .5rem;
}
.education__title,
.experience__title{
	font-size: var(--h3-font-size);
}
.education__studies,
.experience__company{
	font-size: var(--small-font-size);
	color: var(--title-color);
}
.education__year{
	font-size: var(--smaller-font-size);
}

/* ===== COURSE ===== */
.course__list{
	display: -ms-grid;
	display: grid;
	grid-row-gap: 1rem;
}


/*========== SKILLS ==========*/
.skills__group{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
	    grid-template-columns: repeat(2, 1fr);
}
.skills__content,
.skills__group{
	display: -ms-grid;
	display: grid;
	grid-row-gap: .5rem;
}
.skills__item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.skills__item i{
	font-size: .75rem;
}
.skills__item span{
	margin-left: 0.75rem;
}

/*========== ORGANIZATION ==========*/
.organization__title{
	font-size: var(--h3-font-size);
	margin-bottom: var(--mb-1);
}

/* Scroll top */
.scrolltop{
	position: fixed;
	right: 1rem;
	bottom: -20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: .3rem;
	background-color: var(--container-color-alt);
	border-radius: .4rem;
	z-index: var(--z-tooltip);
	-webkit-transition: .4s;
	transition: .4s;
	visibility: hidden;
}

.scrolltop__icon{
	font-size: 1.2rem;
	color: var(--text-color);
}

.show-scroll{
	visibility: visible;
	bottom: 5rem;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width: 320px){
	.nav__list{
		-ms-grid-columns: (1fr)[2];
		    grid-template-columns: repeat(2, 1fr);
		gap: 1rem .5rem;
	}
}

@media screen and (max-width: 356px){
	.skills__group{
		-ms-grid-columns: (1fr)[1];
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (min-width: 576px){
	.skills__group{
		-ms-grid-columns: (1fr)[3];
		    grid-template-columns: repeat(3, 1fr);
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

/* Classes modified for large screen size */
@media screen and (min-width: 968px){
	body{
		margin: 3rem 0;
	}

	.container{
		margin-left: auto;
		margin-right: auto;
	}

	/* ===== HEADER & SCROLL TOP ===== */
	.header,
	.scrolltop{
		display: none;
	}
	/* ===== end header & scroll top ===== */

	.resume{
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: .5fr 1fr;
		    grid-template-columns: .5fr 1fr;
		background-color: var(--container-color);
		box-shadow: 0 0 8px rgba(13,12,12,.15);
	}

	.resume__left{
		background-color: var(--container-color-alt);
	}

	.resume__left,
	.resume__right{
		padding: 0 1.5rem;
	}

	.generate-pdf{
		display: inline-block;
	}

	.section__title,
	.profile__description{
		text-align: initial;
	}

	.home__container{
		gap: 1.5rem;
	}

	.home__img{
		background-color: #F9F9F9;
	}

	.home__button-movil{
		display: none;
	}

	.skills__group{
		-ms-grid-columns: (1fr)[2];
		    grid-template-columns: repeat(2, 1fr);
	}
	.skills__content{
		font-size: var(--small-font-size);
	}
	.skills__content,
	.skills__group{
		grid-row-gap: .25rem;
	}
	.skills__group{
		grid-column-gap: 1.5rem;
	}
	.skills__item i{
		font-size: .35rem;
	}
}

